doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='description', content='UNESCO World Heritage Site Visits - Sean Clarke')
    meta(name='author', content='Sean Clarke')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
