/* Neon Colour Variables */
:root {
  --neon-green: #3DFF33;
  --neon-purple: #F433FF;
  --neon-yellow: #F3F315;
  --neon-orange: #FF8300;
  --neon-blue: #6699f6;
  --neon-red: #FF0000;
}


html {
  font-family: courier, monospace;
  color: white;
  text-align: justify;
  padding: 50px;
}

body {
  background-color: black;
  color: white;
}


a {
  color: var(--neon-yellow);
  text-decoration: none;
  /* font-weight: bold; */
}

.remaining {
  color: var(--neon-red);
}

.visits {
  color: var(--neon-green);
}

.site {
  margin: 8px;
  display: inline;
}

.state {
  margin: 0px;
  display: inline;
}

h2 {
  color: var(--neon-blue);
}

.title h1 {
  color: var(--neon-blue);
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0px;
}

.title h2,h3 {
  color: white;
  margin-top: 8px;
  margin-left: 36px;
}

span.num {
  color: var(--neon-purple)
}

#title, #sub-title, #footer {
  text-align: center;
}
