/* Neon Colour Variables */
:root {
  --neon-green: #3DFF33;
  --neon-purple: #F433FF;
  --neon-yellow: #F3F315;
  --neon-orange: #FF8300;
  --neon-blue: #6699f6;
  --neon-red: #FF0000;
}


html {
  font-family: courier, monospace;
  color: white;
  text-align: justify;
  padding: 50px;
}

body {
  background-color: black;
  color: white;
}


a {
  color: var(--neon-yellow);
  text-decoration: none;
  /* font-weight: bold; */
}

.remaining {
  color: var(--neon-red);
}

.visits {
  color: var(--neon-green);
}

.site {
  margin: 8px;
  display: inline;
}

.state {
  margin: 0px;
  display: inline;
}

h1, h2.visits {
  color: var(--neon-blue);
}

.title h1 {
  color: var(--neon-blue);
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0px;
}

.title h2,h3 {
  color: white;
  margin-top: 8px;
  margin-left: 36px;
}

span.num {
  color: var(--neon-purple)
}

#title, #sub-title, #footer, h2.visits {
  text-align: center;
}

h1#title {
  margin-bottom: 8px;
}

#sub-title h2, #sub-title h5 {
  color: white;
  margin: 0px;
  padding: 0px;
}

.site-visit {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 400px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.site-visit img {
  width: 200px;
  border-radius: 5px;
}

.site-visit p {
  margin: 8px;
}
